@font-face {
    font-family: Carnivalee Freakshow;
    src: url(fonts/carnivalee_freakshow/Carnevalee\ Freakshow.ttf);
}

body {
    background-image: url(img/western.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Carnivalee Freakshow;
}

button {
    font-family: Carnivalee Freakshow;
    font-size: 2.75rem;
    margin: 0.1875rem;
    background-color: indianred;
    border-radius: 1rem;
    border: 0px;
}

button:hover {
    background-color: burlywood;
}

div {
    margin-left: auto;
    margin-right: auto;
    max-width: 50rem;
    padding: 0.625rem;
    text-align: center;
}

p {
    color: black;
    font-size: 1.25rem;
    font-weight: 900;
}

#vidas {
    /* background-color: rgba(28, 28, 28, 0.5); */
    text-shadow: 0.0625rem 0.0625rem 0.125rem black;
    color: red;
    font-size: 2.75rem;
    letter-spacing: 0.125rem;
}

#guiones {
    color: orangered;
    text-shadow: 0.0625rem 0.0625rem 0.125rem black;
    font-size: 2.75rem;
}

#botonera {
    margin-top: 9.375rem;
    margin-bottom: 0.0625rem;
    max-width: 59.375rem;
}

#parrafo {
    font-size: 2.75rem;
}

/* #botonera > span{
    padding: 0px;
} */